= form_for @user_session, :url => login_path do |f|
  = render :partial => 'layouts/form_errors', :locals => { :errors => @user_session.errors } if @user_session.errors.any?

  .field
    = f.label :email
    = f.text_field :email
  .action
    = f.submit "Login"
