<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
	<h1>Du är nu anmäld till Codemocracy, <%= @registration.name %></h1>
	<p>
		Codemocracy pågår 4-5 september, hos Modul1 på Birger Jarlsgatan 57. 
		Incheckningen börjar kl 08:00, och kl 13 går startskottet för vår hackathon. 
		Se resten av programmet på <a href="<%= @program_url %>"><%= @program_url %></a>.
	</p>
	<p>
		Hör av dig till oss om du undrar något. Du når oss på 
		<a href="mailto:<%= @contact_email %>"><%= @contact_email %></a>.
	</p>
	<p>Tack för din anmälan. Vi ses 4 september!</p>
	<p>- Martin, Mathias, Pernilla och Gustaf</p>
	</body>
</html>