- form_for(@registration) do |f|
	= render :partial => 'form_errors', :locals => { :errors => @registration.errors } if @registration.errors.any?

	.personal_information.field
		%h3= t :"registration.edit.header.about_you"
		%p
			= f.label :name
			= f.text_field :name, :placeholder => t(:"registration.placeholder.name")
		%p
			= f.label :email
			= f.email_field :email, :placeholder => t(:"registration.placeholder.email")
		%p
			= f.label :phone
			= f.telephone_field :phone, :placeholder => t(:"registration.placeholder.phone")
		%p
			= f.label :twitter
			= f.text_field :twitter, :placeholder => t(:"registration.placeholder.twitter")
		%p
			= f.label :homepage
			= f.url_field :homepage, :placeholder => t(:"registration.placeholder.homepage")
		
	.team_information.field
		%h3= t :"registration.edit.header.about_team_and_idea"
		%p
			= f.label :teamname
			= f.text_field :teamname, :placeholder => t(:"registration.placeholder.teamname")
		%p
			= f.label :idea
			= f.text_area :idea, :rows => 5, :placeholder => t(:"registration.placeholder.idea")
	.actions
		= f.submit :class => "submit"
