<%= form_for(@registration) do |f| %>
	<% if @registration.errors.any? %>
	<div id="error_explanation">
		<h3><%= pluralize(@registration.errors.count, "error") %>:</h3>

		<ul>
		<% @registration.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>

	<div class="personal_information field">
		<h3><%= t :"registration.details.header.about_you" %></h3>
		<p>
			<%= f.label :name %>
			<%= f.text_field :name, :placeholder => t(:"registration.placeholder.name") %>
		</p>
		<p>
			<%= f.label :email %>
			<%= f.text_field :email, :placeholder => t(:"registration.placeholder.email") %>
		</p>
		<p>
			<%= f.label :phone %>
			<%= f.telephone_field :phone, :placeholder => t(:"registration.placeholder.phone") %>
		</p>
		<p>
			<%= f.label :twitter %>
			<%= f.text_field :twitter, :placeholder => t(:"registration.placeholder.twitter") %>
		</p>
		<p>
			<%= f.label :homepage %>
			<%= f.url_field :homepage, :placeholder => t(:"registration.placeholder.homepage") %>
		</p>
	</div>
	<div class="team_information field">
		<h3><%= t :"registration.details.header.about_team_and_idea" %></h3>
		<p>
			<%= f.label :teamname %>
			<%= f.text_field :teamname, :placeholder => t(:"registration.placeholder.teamname") %>
		</p>
		<p>
			<%= f.label :idea %>
			<%= f.text_area :idea, :rows => 5, :placeholder => t(:"registration.placeholder.idea") %>
		</p>
	</div>
	
	<div class="actions">
		<%= f.submit :class => "submit" %>	
	</div>
<% end %>
