<%= form_for(@registration) do |f| %>
	<% if @registration.errors.any? %>
		<%= render :partial => 'form_errors', :locals => { :errors => @registration.errors } %>
	<% end %>

	<div class="field">
		<%= f.label :name %>
		<%= f.text_field :name, :placeholder => t(:"registration.placeholder.name") %>
		<%= f.label :email %>
		<%= f.email_field :email, :placeholder => t(:"registration.placeholder.email") %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
