<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @registration.name %>
</p>

<p>
  <b>Email:</b>
  <%= @registration.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @registration.phone %>
</p>

<p>
  <b>Twitter:</b>
  <%= @registration.twitter %>
</p>

<p>
  <b>Teamname:</b>
  <%= @registration.teamname %>
</p>

<p>
  <b>Idea:</b>
  <%= @registration.idea %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
