#home.section
  %h2 Välkommen till <span class="co">Co</span><span class="de">de</span><span class="mocracy">mocracy</span>
  
  %p 
    Codemocracy pågår just nu, 4&mdash;5 september. Vi är på Birger Jarlsgatan 57. 
    Ring Martin, 0709-385558, om du vill komma in.
    
  %h3 Slutsignalen går 13:00. Kom och se vad vi skapat!
  
  %p
    Kl 10:30 på lördagen inledde vi med några TechTalks. De 
    = link_to("sändes på bambuser", "http://bambuser.com/channel/modul1") + ","
    vilket vi även tänker göra med presentationerna på söndag. Varje lag får 
    några minuter för att visa vad de gjort. Gör oss sällskap!

  = render :partial => "twitter_widget"
  
  %p Slides från lördagens TechTalks:
  %ul
    %li= link_to "Peter Krantz: Öppen data i Sverige, kort statusrapport", "http://www.slideshare.net/peterkz/ppen-data-status-codemocracy"
    %li= link_to "Viktoriainstitutet: Trafikdata för hållbart resande", "http://www.slideshare.net/rudmark/codemocracy-viktoria"
    %li= link_to "Viktoriainstitutet: SLs APIer för trafikinformation", "http://www.slideshare.net/rudmark/s-ls-apier"
  
  %p 
    Kontakta 
    = mail_to("daniel@viktoria.se","Daniel") + "," 
    = mail_to("per-erik.holmberg@viktoria.se","Per-Erik")
    och
    = mail_to("elias@viktoria.se","Elias") 
    om du har frågor om trafikdata.
  %p
    Kolla också in bilderna som vi samlar i flickr-gruppen:
    = link_to "www.flickr.com/groups/codemocracy", "http://www.flickr.com/groups/codemocracy"
    
  %p
    Titta gärna förbi!
