%p#login_area
  - if current_user
    Inloggad som 
    = link_to user_path(current_user) do
      = current_user.try(:name).to_s
      = "(#{current_user.try(:email)})"
    &mdash;
    %small
    = link_to 'Logga ut', logout_path, :method => :delete
  - else
    Redan registrerad? Du kan
    = link_to 'skicka efter en inloggning', login_requests_path
