!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Codemocracy
    = stylesheet_link_tag "application.css"
    = csrf_meta_tag
  %body
    %header
      = render :partial => "layouts/header"
      = render :partial => "layouts/nav"
    #wrapper
      #content
        =# render :partial => "layouts/login_area"

        = render :partial => "layouts/flash", :locals => { :flash => flash } if flash.any?
        = yield

        .clear &nbsp;

      #footer
        = render :partial => "layouts/sponsors"
    = render :partial => "layouts/footer_scripts"