!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Codemocracy
    = stylesheet_link_tag "application.css"
    = csrf_meta_tag
  %body
    #wrapper
      %header
        = render :partial => "layouts/header"
        = render :partial => "layouts/nav"

      #content
        - if current_user
          %p 
            Hello 
            = current_user.name
            %small
              = link_to 'Not you?', logout_path, :method => :delete

        = render :partial => "layouts/flash", :locals => { :flash => flash } if flash.any?
        = yield

        .clear &nbsp;

      #footer
        != render :partial => "layouts/sponsors"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'rails'
    = render :partial => "layouts/footer_scripts"