!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title Codemocracy
    = stylesheet_link_tag "application.css"
    = csrf_meta_tag
  %body
    #wrapper
      %header
        = render :partial => "layouts/header"
        = render :partial => "layouts/nav"

      #content
        %p#login_area
          - if current_user
            Logged in as 
            = current_user.name + "."
            %small
              = link_to 'Log out', logout_path, :method => :delete
          - else
            Already registered? You can
            = link_to 'log in', login_path
            or
            = link_to 'request login', password_resets_path
          

        = render :partial => "layouts/flash", :locals => { :flash => flash } if flash.any?
        = yield

        .clear &nbsp;

      #footer
        != render :partial => "layouts/sponsors"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag 'rails'
    = render :partial => "layouts/footer_scripts"